<div class="p-4 max-w-sm mx-auto">
    <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Select a category:</label>
    <select id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" (change)="onCategoryChange($event)">
      <option value="">--Select--</option>
      <option value="1">Technology</option>
      <option value="2">Sports</option>
    </select>
  </div>